<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid text-center mt-5">
            <h1 class="display-4">{{page_title}}</h1>
            <p class="lead">Consulta tus dudas y no olvides participar :)</p>
            <p>
                <a class="btn btn-primary btn-lg mr-3" href="#">Ver temas</a>
                <a class="btn btn-success btn-lg mr-3" href="#">Ver usuarios</a>
                <a class="btn btn-warning btn-lg mr-3" href="#">Añade un nuevo tema</a>

            </p>
    </div>

</div>